---
title: Home
date: 2024-08-24
---

<style>
    .profile-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .profile-header img {
        max-height: 100px; /* Adjust height as needed */
        border-radius: 50%; /* Optional: makes the image round */
    }
    .profile-info {
        text-align: left;
    }
    .profile-info a {
        margin-right: 10px;
    }
</style>

<div class="profile-header">
    <div class="profile-info">
        <h1>武 强</h1>
        <p><strong>特聘副研究员</strong><br>
        电子科技大学 复杂系统与人工智能</p>
        <p><strong>Email:</strong> <a href="mailto:qiang.wu@uestc.edu.cn">qiang.wu@uestc.edu.cn</a></p>
        <p>
            <a href="https://scholar.google.com/citations?user=edUqF7sAAAAJ&hl=zh-CN">Google Scholar</a> 
            <!-- <a href="#">Research Gate</a> 
            <a href="#">Github</a>  -->
            <a href="https://www.uestc.edu.cn/">UESTC Homepage</a>
        </p>
    </div>
  <!-- 确保没有多余的部分 -->
    <img src="../image/wuqiang.jpg" alt="武强">
</div>

<div class="section">
    <h2>简历</h2>
    <p>武强，兰州大学计算机博士，电子科技大学博士后，主要研究方向通过复杂系统理论和方法发现城市交通复杂系统。共发表18篇论文，包括国内外高水平学术会议ICML、KDD、AAAI等A类会议，以及在国际知名期刊 Knowledge Based Systems和 Future Generation Computer Systems等一区期刊，其中代表高水平论文（一作、通讯）论文共10篇，曾荣获 IEEE SmartCity 2021 最佳论文奖，并获得谷歌全球机器学习专家（Global Developer Expert,GDE），著有《人工智能技术基础》、《元宇宙中的硬核科技》和《图神经网络》。</p>
</div>

<div class="section">
    <h2>学术职位</h2>
    <ul>
        <li><strong>特聘副研究员</strong>, 2024.07-至今, 电子科技大学</li>
        <li><strong>工程师</strong>, 2021.01-2021.10, 清华大学计算机系</li>
        <li><strong>架构师</strong>, 2009.08-2019.09, 中国移动通信集团甘肃有限公司</li>
    </ul>
</div>

<div class="section">
    <h2>教育经历</h2>
    <ul>
        <li><strong>博士后</strong>, 2021.11-2024.07, 电子科技大学 复杂系统与人工智能</li>
        <li><strong>博士</strong>, 2017.09-2020.12, 兰州大学 计算机应用</li>
        <li><strong>本科</strong>, 2005.09-2009.06, 北京邮电大学 计算科学与技术</li>
    </ul>
</div>

<div class="section">
    <h2>研究方向</h2>
    <ul>
        <li>交通信号控制</li>
        <li>复杂系统</li>
        <li>图复杂网络</li>
        <li>智能交通系统、多智能体系统</li>
        <li>边缘计算、生成对抗网络</li>
    </ul>
</div>
